@import "./assets/css/theme";

html,body {
    background-color: var(--body-bg);
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}
* {
    box-sizing: border-box;
}

// Margin
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-30 {
    margin-top: 30px;
}

// Main
main {
    min-height: calc(100vh - 80px);
    padding: 15px;
    padding-bottom: 80px;
    max-width: $container;
    margin: 0px auto;
}

// Table
.table-responsive {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    table {
        min-width: 800px;
    }
}
table {
    width: 100%;
}
.mat-column-avatar {
    .avatar {
        display: flex;
        align-items: center;
        padding: 10px 0px;

        .icon {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 15px;

            img {
                width: 100%;
            }
        }
        div {
            font-weight: 600;
            span {
                display: block;
                text-transform: uppercase;
                color: #666666;
                font-size: 0.8em;
                font-weight: normal;
            }
        }
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 0px;

    .grid {
        flex: 1;

        .mat-form-field {
            width: 100%;
            max-width: 300px;
        }
    }
}

// Forms
.form-control {
    display: flex;
    flex-direction: column;

    mat-label {
        font-size: 12px;
    }

    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            color: var(--input-border-color);
        }
        .mat-form-field-infix {
            border-top: none;
        }
        .mat-form-field-suffix {
            top: 0.50em;
        }
        &:not(.mat-form-field-disabled) {
            .mat-form-field-flex {
                &:hover {
                    .mat-form-field-outline {
                        color: var(--primary-color);                        
                    }
                }
            }
        }
    }
}

// DatePicker
.mat-datepicker-content {
    .mat-datepicker-content-container {
        .mat-calendar {
            width: auto;
            height: auto;
            min-width: 296px;
        }
    }
    .mat-calendar-content {
        .mat-calendar-table {
            .mat-calendar-table-header {
                .mat-calendar-table-header-divider {
                    &::after {
                        display: none;
                    }
                }
            }
            .mat-calendar-body-cell  {
                min-width: 44px;
                height: 44px;
                .mat-calendar-body-cell-content {
                    border-radius: 0px;
                    border: none;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 7px;
                    font-size: 12px;
                    width: 95%;
                    height: 95%;
                }
                &.mat-calendar-body-active {
                    .mat-calendar-body-cell-content {
                        // background-color: #00aa0067;
                        // color: white;
                    }
                }
            }
        }
    }

    .mat-datepicker-actions {
        justify-content: space-between;

        [matdatepickercancel] {
            .mat-icon {
                color: red;
            }
        }
        [matdatepickerapply] {
            .mat-icon {
                color: var(--primary-color);
            }
        }
    }
}

// Calculatore
.calculator {
    .alternat {
        .mat-list {
            .mat-list-item {
                .mat-list-item-content {
                    justify-content: space-between;
                    span {
                        font-size: 12px;
                        color: var(--grey);
                    }
                }
            }
        }
    }
}

//Toggle
.mat-slide-toggle {
    margin-bottom: 15px;

    .mat-slide-toggle-bar {
        height: 23px;
        width: 48px;
        background-color: var(--grey);
        border-radius: 14px;

        .mat-slide-toggle-thumb-container {
            width: 21px;
            height: 21px;
            top: 1px;
            left: 1px;
            .mat-slide-toggle-thumb {
                width: 21px;
                height: 21px;
                box-shadow: none;                
            }
        }
    }
    &.mat-checked {
        .mat-slide-toggle-bar {
            .mat-slide-toggle-thumb-container {
                transform: translate3d(24px, 0, 0);

                .mat-slide-toggle-thumb {
                    background-color: white;
                }
            }
        }
    }
}